<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>🌳 Wald Zustandsbewertung</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-editable/1.2.0/Leaflet.Editable.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.7.5/proj4.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4leaflet/1.0.1/proj4leaflet.js"></script>
</head>
<body>
    <div id="sidebar">
        <span class="close-btn" onclick="toggleSidebar()">&#x2716;</span>
        <h2>Settings</h2>
    
        <div class="sidebar-section">
            <h3>Tiling Settings</h3>
            <label for="buffer">Buffer in meters</label>
            <input type="number" id="buffer" value="{{ settings['tiling']['buffer'] }}"><br>
            <label for="tile_width">Tile Width in meters</label>
            <input type="number" id="tile_width" value="{{ settings['tiling']['tile_width'] }}"><br>
            <label for="tile_height">Tile Height in meters</label>
            <input type="number" id="tile_height" value="{{ settings['tiling']['tile_height'] }}">
        </div>
    
        <div class="sidebar-section">
            <h3>Tree Crown Settings</h3>
            <label for="confidence">Confidence</label>
            <input type="number" step="0.1" id="confidence" value="{{ settings['crown']['confidence'] }}">
        </div>
    
        <div class="sidebar-section">
            <h3>Vegetation Index Weighting</h3>
            <label for="ndvi_weight">NDVI Weight</label>
            <input type="number" step="0.01" id="ndvi_weight" value="0.2"><br>
            <label for="evi_weight">EVI Weight</label>
            <input type="number" step="0.01" id="evi_weight" value="0.2"><br>
            <label for="gndvi_weight">GNDVI Weight</label>
            <input type="number" step="0.01" id="gndvi_weight" value="0.2"><br>
            <label for="cigreen_weight">Chlorophyll Index Green Weight</label>
            <input type="number" step="0.01" id="cigreen_weight" value="0.2"><br>
            <label for="ciredge_weight">Chlorophyll Index Red-Edge Weight</label>
            <input type="number" step="0.01" id="ciredge_weight" value="0.2">
        </div>

        <h3>Image Source</h3>
        <label>
            <input type="radio" id="googleearth" name="image_source" value="googleearth" checked>
            Google Earth Engine
        </label><br>
        <label>
            <input type="radio" id="basemap" name="image_source" value="basemap.at">
            Basemap.at (only for Austria)
        </label>
    
        <button id="save_settings" style="margin-top: 20px;">Save Settings</button>
    </div>    
    <div id="content">
        <button id="settings-button" onclick="toggleSidebar()">&#9776; Settings</button>
        <div id="title">
            <h1>FALS - Forest Analysis and Location System</h1>
            <h3>🌳 Zustandsbewertung von Wäldern mittels Satellitenbildern und Machine Learning 🌲</h3>
        </div>

        <div id="radio-group-container" class="radio-group-container">
            <div class="radio-inputs">
            <label class="radio">
                <input checked="" name="radio" type="radio" onclick="toggleMap('show')" />
                <span class="name">Interactive Map</span>
            </label>
            <label class="radio">
                <input name="radio" type="radio" onclick="toggleMap('hide')" />
                <span class="name">Upload Image</span>
            </label>
            </div>
        </div>

        <div id="map-container">
            <div id="map"></div>
        </div>
        <div id="map-date-picker">
            <label for="start-date">Start Date:</label>
            <input type="date" id="start-date" name="start-date" required>
            <label for="end-date">End Date:</label>
            <input type="date" id="end-date" name="end-date" required>
        </div>
        <div class="images">
            <div class="image-container">
                <img id="input_image" src="" alt="Input Image" style="display:none;"/>
                <div class="spinner" id="loading-spinner-input" style="display:none;"></div>
                <input type="file" accept="image/*" required="" id="file-input">
                <div id="image-date-picker">
                    <label for="image-date">Image Date:</label>
                    <input type="date" id="image-date" name="image-date" required>
                </div>
            </div>
            <div class="image-container">
                <img id="output_image" src="" alt="Output Image" style="display:none;"/>
                <div class="spinner" id="loading-spinner-output" style="display:none;"></div>
            </div>
        </div>
        <div id="analyze-container">
            <button class="learn-more" id="analyze" style="display:none;">
                <span class="circle" aria-hidden="true">
                    <span class="icon arrow"></span>
                </span>
                <span class="button-text">Analyze Image</span>
            </button>
            <button class="learn-more" id="download-image-interactive">
                <span class="circle" aria-hidden="true">
                    <span class="icon arrow"></span>
                </span>
                <span class="button-text">Analyze Area</span>
            </button>
        </div>
        <div class="vi-container">
            <div id="ndvi-values" class="vi-values">
                <h3>NDVI Values</h3>
                <div class="vi-values-content">
                    <div class="image-container-table">
                        <img id="ndvi_image" src="" alt="NDVI Image"/>
                    </div>
                    <table id="ndvi-table" class="vi-table">
                        <tr>
                            <th>Title</th>
                            <th>Value</th>
                        </tr>
                    </table>
                </div>
            </div>
            
            <div id="evi-values" class="vi-values">
                <h3>EVI Values</h3>
                <div class="vi-values-content">
                    <div class="image-container-table">
                        <img id="evi_image" src="" alt="EVI Image"/>
                    </div>
                    <table id="evi-table" class="vi-table">
                        <tr>
                            <th>Title</th>
                            <th>Value</th>
                        </tr>
                    </table>
                </div>
            </div>
            
            <div id="gndvi-values" class="vi-values">
                <h3>GNDVI Values</h3>
                <div class="vi-values-content">
                    <div class="image-container-table">
                        <img id="gndvi_image" src="" alt="GNDVI Image"/>
                    </div>
                    <table id="gndvi-table" class="vi-table">
                        <tr>
                            <th>Title</th>
                            <th>Value</th>
                        </tr>
                    </table>
                </div>
            </div>
            
            <div id="cigreen-values" class="vi-values">
                <h3>Chlorophyll Index Green Values</h3>
                <div class="vi-values-content">
                    <div class="image-container-table">
                        <img id="cigreen_image" src="" alt="Chlorophyll Index Green Image"/>
                    </div>
                    <table id="cigreen-table" class="vi-table">
                        <tr>
                            <th>Title</th>
                            <th>Value</th>
                        </tr>
                    </table>
                </div>
            </div>
            
            <div id="cired-edge-values" class="vi-values">
                <h3>Chlorophyll Index Red-Edge Values</h3>
                <div class="vi-values-content">
                    <div class="image-container-table">
                        <img id="cired-edge_image" src="" alt="Chlorophyll Index Red-Edge Image"/>
                    </div>
                    <table id="cired-edge-table" class="vi-table">
                        <tr>
                            <th>Title</th>
                            <th>Value</th>
                        </tr>
                    </table>
                </div>
            </div>     
            
            <div id="combined-values" class="vi-values">
                <h3>Combined Vegetation Index Values - Forest Health</h3>
                <div class="vi-values-content">
                    <div class="image-container-table">
                        <img id="combined_image" src="" alt="Combined Vegetation Index"/>
                    </div>
                    <table id='combined-table' class="vi-table">
                        <tr>
                            <th>Title</th>
                            <th>Value</th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>                
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>
